body{
    background-color: bisque;
}

div{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(236, 174, 139);
}
p{
    color: rgb(1, 0, 2);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}